*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Righteous', cursive;
    background: #1E555C;
    color: white;
    text-align: center;
    font-size: 30px;
}

#container {
    display: flex;
    height: 100vh;
    min-width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 50px;
    margin-bottom: 30px;
}

#length-control {
    display: flex;
}

#break, #session {
    margin: 0 30px;
}

#break-length, #session-length {
    display: inline-block;
    width: 40px;
    user-select: none;
}

#break-decrement, #break-increment, #session-decrement, #session-increment, #start_stop, #reset {
    cursor: pointer;
}


#time-frame {
    border: 7px solid #13353a;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 20px 0;
}

#time-left {
    display: block;
    font-size: 80px;
    width: 220px;
    font-family: 'Share Tech Mono', monospace;
}

#start_stop {
    margin-right: 10px;
}

#author {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 25px;
    font-size: 14px;
    color: #00264d;
}

.time_color {
    color: rgb(165, 13, 13);
}

@media screen and (max-width: 540px) {
    #length-control {
        flex-direction: column;
    }

    #break, #session {
        margin-bottom: 10px;
    }
}